body{
    background-color: rgb(255, 255, 255);
}
header{
    margin: 0,0,0,0;
    left: 0;
    width: 100%;
    

}
#pages{
    display: flex;
    background-color: rgb(255, 255, 255);
    top: 0;
    margin-top: 0rem;
    width: 100%;
    margin-left: 0rem;
   
    
}
.uplinks{
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 2rem;
}

#advenced{
    text-align: center;
    margin-top: 0rem;
    margin-bottom: 2rem;
}
#adsearch{
    width: 50%;
    font-size: 1.2rem;
    height: 30px;
    margin-top: 30px;
    border-radius: 7px;
    background-color: rgb(118, 226, 55);
}
.adp{
    font-size: 1.2rem;
}

.barse{
    border-radius: 10px;
    height: 20px;
    width: 50%;
}
.logo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 6rem;
    text-align: center;
    margin-bottom: 1rem;
}
#submitse{
    border-radius: 15px;
    width: 100px;
    height: 30px;
    background-color: rgb(118, 226, 55);
}

#searchsec{
    padding-top: 7rem;
    padding-bottom: 9rem;
    background-color: rgb(255, 255, 255);
    align-content: center;
}
.logocontainer{
    text-align: center;
}

#search{
    text-align: center;
}

#navlibar{
    display: flex;
    justify-content: end;
    gap: 2rem;
    width: 100%;
    list-style-type: none;
    text-decoration: none;
    
}
#movepage1{
   text-decoration: none;
   font-size: 1rem;
   padding: 0.1rem;
}

#movepage2{
   text-decoration: none;
   align-self: end;
   font-size: 1rem;
   padding: 0.1rem;
}