body{
    background-color: rgb(255, 255, 255);
}
header{
    margin: 0px 0px 0px 0px;
    left: 0;
    width: 100%;
    

}
#pages{
    display: flex;
    background-color: rgb(255, 255, 255);
    top: 0;
    margin-top: 0rem;
    width: 100%;
    margin-left: 0rem;
   
    
}
.uplinks{
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 1rem;
    gap: 10px;
}
#Feelinglink{
    text-decoration: none;
    color: black;
}
#advenced{
    text-align: center;
    margin-top: 0rem;
    margin-bottom: 2rem;
}
#adsearch{
    width: 50%;
    font-size: 1.2rem;
    height: 30px;
    margin-top: 30px;
    border-radius: 7px;
    background-color: rgb(118, 226, 55);
}
.adp{
    font-size: 1.2rem;
}

.barse{
    border-radius: 15px;
    height: 30px;
    width: 50%;
    box-shadow: black 0px 0px 0px 2px;
}
.logo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 6rem;
    text-align: center;
    margin-bottom: 1rem;
}
#submitse{
    width: 100px;
    height: 30px;
    background-color: rgb(146, 148, 145);
}
#submitsead{
    width: 150px;
    height: 29.5px;
    background-color: rgb(146, 148, 145);
}
#Feeling{
    width: 100px;
    height: 30px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2.4px;
    padding-bottom: 5.9px;
    background-color: rgb(146, 148, 145);
    box-shadow: black 0px 0px 0px 1.5px;
}
#searchsec{
    padding-top: 7rem;
    padding-bottom: 9rem;
    background-color: rgb(255, 255, 255);
    align-content: center;
}
.logocontainer{
    text-align: center;
}
#undersearch{
    text-align: center;
    margin-top: 20px;
}
#search{
    text-align: center;
    align-items: center;
}

#pages{
    display: flex;
    justify-content: end;
    gap: 5rem;
    width: 100%;
    list-style-type: none;
    text-decoration: none;
    
}
#movepage1{
   text-decoration: none;
   font-size: 1rem;
   padding: 0.1rem;
}

#movepage2{
   text-decoration: none;
   align-self: end;
   font-size: 1rem;
   padding: 0.1rem;
}
.test{
    width: 100px;
}
.contact-links{
    text-align: center;
}